### Strings

In [6]:
first_name='Sugam'
last_name='Chaudhary'
full_name=first_name+' '+last_name
print(full_name)

Sugam Chaudhary

In [10]:
print("hello"+" Sugam")
print('hello'+'5')
#string concatenation only works for strings

hello Sugam
hello5

### Type Conversion

In [1]:
print(type(str(100)))
a=str(100)
b=int(a)
c=type(b)
print(c)

<class 'str'>
<class 'int'>

### Escape Sequence

In [7]:
weather='It\'s \"kind of\" sunny \n hope you have a good day!'
print(weather)

It's "kind of" sunny
 hope you have a good day!

### Formated Strings

In [7]:
name='Johnny'
age='55'
print('Hi I am '+ name +'. I am '+str(age)+' years old.')
print(f'Hi {name}. You are {age} years old.')

Hi I am Johnny. I am 55 years old.
Hi Johnny. You are 55 years old.

### String Indexs

In [9]:
name='SugamChaudhary'
print(name[0:5]+" "+name[5:14])

Sugam Chaudhary

In [4]:
selfish='123456'
#selfish[0]='100'
print(len(selfish))

6

In [8]:
quote = 'to be or not to be'
print(quote.upper())
print(quote.capitalize())

TO BE OR NOT TO BE
To be or not to be